{% extends 'football_league/base.html' %}

{% block content %}
{% load index %}
    <h3>{{ data.match_list.first.round.league  }} - {{ data.match_list.first.round.date|date:"D d M Y"|linebreaksbr  }}</h3>
    {% for match in data.match_list %}
        <div class="match">
            <hr>
            <h5><a href="{% url 'football_league:match_detail' match.id %}">{{ match.host }} - {{ match.guest }}</a> ({{ data.match_results|index:forloop.counter0 }})</h5>
        </div>
    {% endfor %}
{% endblock %}